
@{
    ViewData["Title"] = "Index";
}

<style>
    .div_background {
        background-image: url('https://minesweeper.online/img/homepage/expert.png');
                width: 500px;
            height: 320px;
    }
</style>
<body>
    <div class="div_background">
       
    </div>
</body>
