@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the virtual Bible Verse Search!</h1>
<img src="~/images/bvs.jfif">

<body>
   <form asp-action="SearchForm">
        Use this application to search for bible verses  <input type="submit" value="Begin" class="btn btn-danger" />
        </form>
</body>


