@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Some information you enteres does not jive with our system. Please try again.</h4>

<div>
    <a asp-controller="Register" asp-action="Index">Register</a>
</div>