@model RegisterAndLoginApp.Models.UserModel

<div>
    <h4>Login Failure</h4>
    <hr />
    <h4>You have failed me for the last time</h4>
    <hr />
    <p>Well, @Model.UserName, it appears that @Model.Password is not going to get you anywhere on this application. Try again when you find your brain.</p>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
